html {
    background-image: url("images/102.JPG");
    height: -webkit-fill-available;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


header{
    font-size: 70px;
    color: #E0EEEE;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
    
}

h2{
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Acme', sans-serif;
    color: white;
    padding: 70px 150px;
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
    
}
#links {
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    padding: 150px 40px 10px 100px;
    
}
a:visited {
    color: white;
    background-color: transparent;
}
a:hover {
    color: #5FB0FF;
    background-color: transparent;
    font-size: 25px;
}
