html {
    background-image: url("images/102.JPG");
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


header{
    font-size: 70px;
    color: white;
    
    
}

.inset-text-effect {
    display: inline-block;
    padding: 18px 0px 0px 140px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
        border: none;
        font: normal 80px/1 "Aladin", Helvetica, sans-serif;
        text-transform: normal;
        -o-text-overflow: clip;
        text-overflow: clip;
        white-space: pre;
        text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
      }
h2{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    padding: 70px 150px;
    text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
    
}
#links {
    text-align: right;
    font-size: 20px;
    text-decoration: none;
    padding: 150px 40px 10px 0px;
}
a:visited {
    color: #FFFFFF;
    background-color: transparent;
}
a:hover {
    color: #5FB0FF;
    background-color: transparent;
    font-size: 25px;
}